<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
     <header class="cabecalho">

         <main classe="conteudo">


             <section class="conteudo-principal">

                 <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Nossos contatos</h1>

       <a href="https://qrseg.herokuapp.com/mailto">
         <img class="cabecalho-imagem" src="{{ url_for('static', filename='escalador.jpg')}}" ></a>

        <h2 class="conteudo-principal-escrito-subtitulo"> inventure@inventure.com.br</h2>


    </div>
<a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
         <a href="https://inventure1.azurewebsites.net/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='inventurelogo.jpg')}}"></a>

</section>
<br<br>
             <a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
             <a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
             <section>

               <section class="conteudo-secundario">
                <h3 class="conteudo-secundario-titulo">     </h3>

            </section>


          <a  href="https://api.whatsapp.com/send?phone=5548988322350&text=Olá, vamos conversar%20aqui"
      target="_blank"
        <button class="conteudo-principal-escrito-botao" > &nbsp Whatsapp</button>
    >
         <img class="cabecalho-imagem" src="{{ url_for('static', filename='logo-whatsapp.png')}}" >
        </a>

                   <img class="cabecalho-imagem" src="{{ url_for('static', filename='whatsinventure.svg')}}" >

             </section>

</body>

</html>
