{% extends 'base.html' %}
{% block body %}

<div class="container">
		<h1 style="color: blue">Hub-Tur</h1><p>Ferramentas Web</p>
		<h2>Mapeamento Geolocalizado de Atrativos Turísticos de SC</h2>
	</div>

	<div class="container">
	<div class="card-group">
		<div class="card">
		  <img src="/static/vinhos.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Mapeamento das Vinícolas</h5>
			<p class="card-text">Encontre aqui o mapeamento das vinícolas no Estado de Santa Catarina. Encontre diversos atrativos turísticos relacionados com a produção de vinhos. </p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		  <div class="card-body">
			<a href="/gmap" class="card-link">Card link</a>
			<a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		<div class="card">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
		<div class="card">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
	  </div>
	</div>
<hr>
<div class="container">
	  <div class="card-group">
		<div class="card">
		  <img src="/static/vinhos.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Mapeamento das Vinícolas</h5>
			<p class="card-text">Encontre aqui o mapeamento das vinícolas no Estado de Santa Catarina. Encontre diversos atrativos turísticos relacionados com a produção de vinhos. </p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		  <div class="card-body">
			<a href="/gmap" class="card-link">Card link</a>
			<a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		<div class="card">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
		<div class="card">
		  <img src="..." class="card-img-top" alt="...">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>
	  </div>
</div>
	

{% endblock %}
