<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventure</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"
</head>
<body>


</section>

<center>
 <a>&nbsp </a>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='inventurelogo.jpg')}}"></a>
</center>
            <section class="conteudo-secundario">
                <h3 class="conteudo-secundario-titulo">A Inventure é uma empresa de consultoria:</h3>


                 <p class="conteudo-secundario-paragrafo">Em projetos de inovação</p>

               <p class="conteudo-secundario-paragrafo">Com serviços e produtos em inteligência de negócios (BI) e  inteligência artifical (IA)</p>
  <h3 class="conteudo-secundario-titulo">A Inventure é uma empresa de participações:</h3>
                <p class="conteudo-secundario-paragrafo">A Inventure participa na elaboração e aporte de investimentos em negócios inovadores de tecnologia e outras áreas.</p>
                <p class="conteudo-secundario-paragrafo">A Inventure está pronta para ser o seu parceiro de investimentos em inovação!</p>


            </section>
 <footer class="rodape">

     <p class="rodape-texto">Inventure 2022</p>

        </footer>

</body>
</html>