<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servicos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"
</head>

<body>

<center>
 <a>&nbsp </a>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='inventurelogo.jpg')}}"></a>
</center>
            <section class="conteudo-secundario">
                <h3 class="conteudo-secundario-titulo">Consultoria de Inovação:</h3>


                 <p class="conteudo-secundario-paragrafo">Projetos de Pesquisa e Desenvolvimento em inovação</p>
 <p class="conteudo-secundario-paragrafo">Projetos de Data Science, Engenharia de Dados e do Conhecimento </p>
               <p class="conteudo-secundario-paragrafo">Presta serviços em inteligência de negócios (BI) e  inteligência artifical (IA)</p>

            </section>

 <section class="conteudo-secundario">
                <h3 class="conteudo-secundario-titulo">Desenvolvimento de Produtos e Tecnologias:</h3>
                 <p class="conteudo-secundario-paragrafo">Projetos de Pesquisa e Desenvolvimento Tecnológicos</p>

               <p class="conteudo-secundario-paragrafo">Serviços em Inteligência de Negócios (BI) e  Inteligência Artifical (IA)</p>
  <h3 class="conteudo-secundario-titulo">Desenvolvimento de Tecnologias:</h3>
                <p class="conteudo-secundario-paragrafo">Ferramentas de software como linguagens Python,C,PhP, dentre outras.</p>
                <p class="conteudo-secundario-paragrafo">Plataformas e Frameworks de Cloud Computing, IOT e Inteligência Artificial</p>

            </section>

</section>

 <section class="conteudo-secundario">
                <h3 class="conteudo-secundario-titulo">Fundos e Investimentos:</h3>
                 <p class="conteudo-secundario-paragrafo">Projetos de gestão para captação de investimentos</p>
               <p class="conteudo-secundario-paragrafo">Atração de investimentos com fundos de Venture Capital e Early Stage</p>

<h3 class="conteudo-secundario-titulo">Captação de investimentos:</h3>
                <p class="conteudo-secundario-paragrafo">A Inventure elabora o aporte de investimentos em negócios inovadores de tecnologia e outras áreas.</p>
                <p class="conteudo-secundario-paragrafo">Presta os serviços de consultoria de investimentos</p>

       <h3 class="conteudo-secundario-titulo">Seguros:</h3>
                <p class="conteudo-secundario-paragrafo">Plano de gestão de riscos de negócios</p>
                <p class="conteudo-secundario-paragrafo">Administração e corretora de seguros</p>

            </section>

<footer class="rodape">

     <p class="rodape-texto">Inventure 2022</p>

        </footer>

</body>
</html>