<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ventures</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

</head>

<body>

<center>

         <a href="https://inventure1.azurewebsites.net/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='inventurelogo.jpg')}}"></a>
</center>

<center>


<header class="cabecalho">

</center>

            <section class="conteudo-secundario">
                <h3 class="conteudo-secundario-titulo">Alguns Cases Realizados</h3>

             <section class="conteudo-principal">
<br><br>

                 <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Netspress</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Impressora térmica para e-commerce</h2>
                 <h2 class="conteudo-principal-escrito-subtitulo">    Companhias: Interdigital S/A, Companhia Riograndense de Participações (CRP)
</h2>
    <h2 class="conteudo-principal-escrito-subtitulo">    Venture: Investimentos de Capital de Risco (Venture Capital)
</h2>

    </div>
<a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
                 <br><br>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='netspressOK.jpg')}}"></a>

</section>
     <section class="conteudo-secundario">
         <br>
     </section>
<br><br><br>

             <section class="conteudo-principal">

                 <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">SC Investimentos</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Agência de Atração de Investimentos de Santa Catarina no evento WTTC 2009</h2>
                 <h2 class="conteudo-principal-escrito-subtitulo">    Companhias: Governo do Estado de Santa Catarina, SANTUR, Convention Bureau Florianópolis
</h2>
    <h2 class="conteudo-principal-escrito-subtitulo">    Venture: Atração de Investimentos Turísticos e Imobiliários (Real Estate)
</h2>

    </div>
<a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='scinvestimentos.jpg')}}"></a>

</section>


</section>
     <section class="conteudo-secundario">
         <br>
     </section>

<br><br><br>

             <section class="conteudo-principal">

                 <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Parque dos Lagos</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Projeto de Desenvolvimento Regional da Região dos Lagos</h2>
                 <h2 class="conteudo-principal-escrito-subtitulo">    Companhias: AMURES, Governo do Estado de Santa Catarina, Municípios da Região dos Lagos em SC
</h2>
    <h2 class="conteudo-principal-escrito-subtitulo">    Venture: Planejamento Regional e de Investimentos Turísticos e Imobiliários (Real Estate)
</h2>

    </div>
<a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='parquelagosOK.jpg')}}"></a>

</section>



</section>
     <section class="conteudo-secundario">
         <br>
     </section>

<br><br><br>

             <section class="conteudo-principal">

                 <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">IVOV</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Incubadora Virtual de Organizações Virtuais</h2>
                 <h2 class="conteudo-principal-escrito-subtitulo">    Companhias: Inventure, Universidade do Estado de Santa Catarina - UDESC
</h2>
    <h2 class="conteudo-principal-escrito-subtitulo">    Venture: Projeto de Inovação de Pesquisa e Desenvolvimento
</h2>

    </div>
<a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='ivov.jpg')}}"></a>

</section>


</section>
     <section class="conteudo-secundario">

     </section>

<br><br><br>

             <section class="conteudo-principal">

                 <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Softway Contact Center</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Assessoria em Projeto de Investimento</h2>
                 <h2 class="conteudo-principal-escrito-subtitulo">    Companhias: Inventure, Softway Contact Center</h2>
    <h2 class="conteudo-principal-escrito-subtitulo">    Venture: Projetos de Investimentos
</h2>

    </div>
<a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='softway.jpg')}}"></a>

</section>



</section>
     <section class="conteudo-secundario">

     </section>

<br><br><br>

             <section class="conteudo-principal">

                 <div class="conteudo-principal-escrito">
        <h1 class="conteudo-principal-escrito-titulo">Caminhos do Sertão</h1>
        <h2 class="conteudo-principal-escrito-subtitulo">Incubação de Negócio</h2>
                 <h2 class="conteudo-principal-escrito-subtitulo">    Companhias: Inventure, Caminhos do Sertão Ciclo Turismo</h2>
    <h2 class="conteudo-principal-escrito-subtitulo">    Venture: Incubação de Negócios
</h2>

    </div>
<a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </a>
         <a href="https://qrseg.herokuapp.com/">
  <img class="conteudo-principal-imagem" src="{{ url_for('static', filename='caminhos.jpg')}}"></a>

</section>

  <footer class="rodape">
<img class="rodape-imagem" src="{{ url_for('static', filename='inventurelogo.jpg')}}" >
     <p class="rodape-texto">inVenture 2022</p>

        </footer>


</body>
</html>
